/* #region Variables */

:root {
    --pl-grey-darker: #1f1f1f;
    --pl-grey-dark: #363636;
    --pl-grey-light: #545454;
}

/* #endregion Variables */

/* -------------------------------------------------------------------------------- */
/* ! XS DEVICE */
/* -------------------------------------------------------------------------------- */

/* #region Utility */

.pl-btn-dark {
    background-color: var(--pl-grey-dark);
    border-radius: 20px;
}

/* #endregion Utility */

/* #region Main Header */

.bar-logo__img {
    height: 15px;
}

.main-header .nav-bar .nav-link {
    color: rgba(0, 0, 0, 1);
}

/* #endregion Main Header */

/* -------------------------------------------------------------------------------- */
/* ! S DEVICE */
/* -------------------------------------------------------------------------------- */
@media (min-width: 576px) {}

/* -------------------------------------------------------------------------------- */
/* ! M DEVICE */
/* -------------------------------------------------------------------------------- */
@media (min-width: 768px) {}

/* -------------------------------------------------------------------------------- */
/* ! LG-XXL DEVICE */
/* -------------------------------------------------------------------------------- */
@media (min-width: 992px) {}