/* #region Variables */
:root {
    --pl-grey-darker: #1f1f1f;
    --pl-grey-dark: #363636;
    --pl-grey-light: #545454;
    --pl-grey-lighter: #BEBCBB;
    --pl-accent: #CD3D0F;
    --pl-active: #0072CE;
    --pl-light: #D9DADC;
    --pl-lighter: #f5f5f5;
    --pl-blue-darker: #161C3B;
    --pl-blue: #00439C;
}

/* #endregion Variables */

/* -------------------------------------------------------------------------------- */
/* ! XS DEVICE */
/* -------------------------------------------------------------------------------- */

/* #region Utility */
.pl-btn-dark {
    background-color: var(--pl-grey-dark);
    border-radius: 20px;
}

.pl-text-up {
    position: relative;
    font-size: 0.45em;
    vertical-align: top;
}

.pl-text-up--reg {
    top: 0.5em;
}

/* #endregion Utility */

/* #region Main Header */
.bar-logo__img {
    height: 15px;
}

.main-header .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.main-header .navbar {
    border-top: 2px solid var(--pl-grey-light);
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.main-header .dropdown-toggle::after,
.main-header .navbar-light .navbar-nav .nav-link.show:hover::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
    color: var(--pl-grey-lighter);
}

.main-header .navbar-light .navbar-nav .nav-link:hover,
.main-header .navbar-light .navbar-nav .nav-link:hover::after,
.main-header .navbar-light .navbar-nav .nav-link.show {
    color: var(--pl-active);
}

.main-header .navbar-light .navbar-nav .nav-link::after {
    transition: transform 200ms linear;
    transition: none;
}

.main-header .navbar-light .navbar-nav .nav-link.show::after {
    transform: rotate(180deg);
    transition: transform 200ms linear;
}

.main-header .dropdown {
    position: static;
}

.main-header .navbar-expand-lg .navbar-nav .dropdown-menu {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
    padding-block: 0 20px;
}

.main-header .navbar-expand-lg .navbar-nav .dropdown-menu.show {
    display: flex;
    justify-content: center;
}

.main-header .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 8);
    padding: 0;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;
}

.main-header .dropdown-item figure {
    max-width: 40%;
}

.main-header .dropdown-item:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.dropdown-submenu {
    width: 100%;
    border-top: 1px solid var(--pl-grey-lighter);
}

.dropdown-submenu__list li {
    padding-inline: 10px;
}

.dropdown-submenu__list a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
}

.dropdown-submenu__list a:hover {
    color: var(--pl-active);
}

.dropdown-submenu__list i {
    font-size: 8px;
    margin-right: 5px;
    color: var(--pl-active);
}

/* #endregion Main Header */

/* #region Gallery */
.hero .gallery .content-wrapper {
    background-image: url(../img/jumbo-bg.png);
}

.out-now .gallery .content-wrapper {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.gallery .content-wrapper {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 595px;
}

.gallery__content {
    width: 100%;
    bottom: 50px;
    left: 0;
}

.gallery .name {
    max-width: 55%;
}

.gallery .title,
.gallery .text,
.gallery .btn {
    font-weight: 700;

}

.gallery .title {
    font-size: 2.625rem;
    letter-spacing: -4px;
}

.gallery .text,
.gallery .btn {
    font-size: 1.0625rem;
    letter-spacing: -1px;
}

.gallery .btn {
    border-radius: 20px;
    background-color: var(--pl-accent);
}

/* Hero Gallery List */
.pl-slider .game {
    padding: 2px;
}

.pl-slider .game.active {
    border: 2px solid var(--pl-active);
    border-radius: 20px;
}

.pl-slider .game__img img {
    border-radius: 17px;
}

/* Out Now Gallery List */
.pl-list {
    background-color: var(--pl-grey-darker);
}

.pl-list .title,
.pl-list .subtitle,
.pl-list .game-title {
    font-weight: 700;
}

.pl-list .title {
    font-size: 2.25rem;
    letter-spacing: -2px;
}

.pl-list .subtitle {
    font-size: 1.625rem;
    letter-spacing: -1.5px;
}

.pl-list .game__img img {
    border-radius: 20px;
}

.pl-list .game-title {
    font-size: 1.0625rem;
    letter-spacing: -1px;
    line-height: 23px;
}

/* #endregion Gallery */

/* #region Playfive - Playfour - Sale */
.playfive .intro,
.playfive .text,
.playfour .text,
.sale .text {
    font-weight: 400;
}

.playfive .intro {
    font-size: 1rem;
    letter-spacing: -1px;
    color: var(--pl-active);
}

.playfive .title,
.playfour .title,
.sale .title {
    font-size: 2.625rem;
    font-weight: 500;
    letter-spacing: -2px;
}

.playfive .text,
.playfour .text,
.sale .text {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.playfive .btn,
.playfour .btn {
    background-color: var(--pl-active);
    border-radius: 20px;
}

/* ! Playfive Gallery */
.playfive__gallery .gallery__item {
    height: 100%;
}

.playfive__gallery .active {
    border-bottom: 2px solid var(--pl-active);
}

.playfive__gallery .item__img img {
    max-width: 50%;
    height: auto;
}

.playfive__gallery .item__title {
    color: rgba(0, 0, 0, 0.5);
}

/* #endregion Playfive */

/* #region PS Plus - PS Now */
.psplus {
    background-color: var(--pl-grey-lighter);
}

.psplus__logo img,
.psnow__logo img {
    max-width: 60%;
}

.psplus .btn {
    color: var(--pl-active);
    background-color: var(--pl-light);
}

.psnow .btn {
    background-color: var(--pl-lighter);
}

.psnow {
    background-color: var(--pl-blue-darker);
}

/* #endregion PlayStation Plus */

/* #region Socials */
.socials__title {
    font-size: 2rem;
}

/* #endregion Socials */

/* #region Footer */
.main-footer,
.main-footer .list-group-item {
    font-size: 0.9375rem;
    background-color: var(--pl-blue);
}

.main-footer .list-group-item a {
    color: #fff;
    text-decoration: none;
}

.footer__bottom .img-fluid {
    max-width: 130px;
}

.footer__bottom a {
    color: #fff;
}

/* #endregion Footer */

/* -------------------------------------------------------------------------------- */
/* ! M DEVICE */
/* -------------------------------------------------------------------------------- */
@media (min-width: 768px) {

    /* #region Socials */
    .socials .row {
        max-width: 556px;
        margin-inline: auto;
    }

    /* #endregion Socials */

}

/* -------------------------------------------------------------------------------- */
/* ! LG-XXL DEVICE */
/* -------------------------------------------------------------------------------- */
@media (min-width: 992px) {

    /* #region Main Header */
    .main-header .navbar-light .navbar-nav .nav-link {
        padding-inline: 0.7rem;
    }

    /* #endregion Main Header */

    /* #region Gallery */
    .gallery .name {
        max-width: 60%;
    }

    .gallery .content__description {
        width: calc(100% / 3);
    }

    /* #endregion Gallery */

}